%ol.breadcrumb
  %li=link_to "Home", "javascript:void(0);"
  %li.active=link_to "Usuários", "javascript:void(0);"

%p= link_to "+ "+  ::User.model_name.human, new_user_path, :class => "btn btn-default"

%table.col-xs-12
  %tr
    %th=t("activerecord.attributes.user.username")
    %th=t("activerecord.attributes.user.email")
  - for user in @users
    %tr
      %td= user.username
      %td= user.email
      %td
        =link_to t("show"), user_path(user), :class => "btn btn-info"
        =link_to t("edit"), edit_user_path(user), :class => "btn btn-info"
        =link_to t("delete"), user, :confirm => t("msg_delete"), :method => :delete, :class => "btn btn-info"
        
%p= link_to "+ "+  ::User.model_name.human, new_user_path, :class => "btn btn-default"