- title "Finish"

%p
  %strong Name:
  = @finish.name

%p
  = link_to "Edit", edit_finish_path(@finish)
  |
  = link_to "Destroy", @finish, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", finishes_path
