.row
  .col-sm-12.top-space
    %p.form-msg-danger Este campo está incorreto:
    %input.form-control.form-danger{:type => "text", :placeholder => "Nome do Arquivo"}
    <br />
    %select
      %option teste
    %button.btn.btn-white Nova Categoria
    <br /><br />
    %input.form-control{:type => "file"}
    <br />
    %input.btn.btn-default.pull-right{:Value => "Salvar"}