.row
  .col-sm-12.top-space
    %p.form-msg-danger Este campo está incorreto:
    %input.form-control.form-danger{:type => "text", :placeholder => "Nome Completo"}
    <br />
    %input.form-control{:type => "text", :placeholder => "E-Mail"}
    <br />
    %input.form-control{:type => "text", :placeholder => "CPF/CNPJ"}
    <br />
    %input.form-control{:type => "text", :placeholder => "Endereço"}
    <br />
    %input.form-control{:type => "text", :placeholder => "Cidade"}
    <br />
    %input.form-control{:type => "text", :placeholder => "Telefone"}
    <br />
    %input.form-control{:type => "text", :placeholder => "Celular"}
    <br />
    %input.btn.btn-default.pull-right{:Value => "Salvar"}