%ol.breadcrumb
  %li=link_to "Home", "javascript:void(0);"
  %li=link_to "Contatos", "javascript:void(0);"
  %li.active=link_to "Adicionar", "javascript:void(0);"

.row
  .col-xs-9
    %h1 Adicionar contatos

= render :partial => "form"