.row
  .col-sm-12.top-space
    %p.form-msg-danger Este campo está incorreto:
    %input.form-control.form-danger{:type => "text", :placeholder => "Título"}
    <br />
    %select.form-control
      %option teste
    <br />
    %textarea.form-control{:type => "text", :placeholder => "Mensagem"}
    <br />
    
    %input.btn.btn-default.pull-right{:Value => "Salvar"}
    
  .col-sm-12
    %h2 Comunicados
    .list-group
      %a.list-group-item.active
        %h4.list-group-item-heading 
          Comunicado da diretoria
          %span.list-group-date 13.10.2013
        %p.list-group-item-text
          Donec id elit non mi porta gravida at eget maecenas sed diam.
      %a.list-group-item
        %h4.list-group-item-heading 
          Metas para 2013
          %span.list-group-date 13.10.2013
        %p.list-group-item-text
          Donec id elit non mi porta gravida at eget maecenas sed diam.
      %a.list-group-item
        %h4.list-group-item-heading 
          Bem vindo ao CRM Lythos
          %span.list-group-date 13.10.2013
        %p.list-group-item-text
          Donec id elit non mi porta gravida at eget maecenas sed diam.