.footer{:style => "width:100%;"}
  =wicked_pdf_image_tag "template_pdf/bg_footer.jpg", :align => "right"
  %p{:style => "width:600px; display:inline-block; text-align:center; margin-top:70px;"} 
    LYTHOS INDUSTRIA E COMERCIO DE ARTEFATOS DE CIMENTO LTDA - www.lythos.com.br 
