%ol.breadcrumb
  %li=link_to "Home", "javascript:void(0);"
  %li.active=link_to "Orçamentos", "javascript:void(0);"

.row
  .col-xs-9.a
    %h1 Orçamentos
  .col-xs-3
    =link_to "+ Orçamento", new_proposal_path, :class => "btn btn-default pull-right header-button"

- if flash[:notice]
  .alert.alert-success
    %b Concluído! 
    Registro modificado com
    %b sucesso!

.col-xs-12.search
  %form
    .col-xs-11
      %label.sr-only
        Busca
      %input.form-control.input-form{:name => "search"}
    .col-xs-1
      %input.btn.btn-default{:type => "submit", :value => "Buscar"}
  .clearfix

.users  
  %table.table.table-condensed
    %tr
      %th ID
      %th Cliente
      %th Enviado por
      %th Valor
      %th Data
      %th Status
      %th 
    - @proposals.each do |p|
      - $total_items = 0;
      - p.proposal_items.all.each do |item|
        -$total_items = $total_items + (item.value * item.quantity)
      %tr
        %td=p.id
        %td=link_to p.contact.name, contact_path(p.contact.id), :class => "red"
        %td
          %span.label.label-info=p.user.username
        %td=number_to_currency($total_items)
        %td=p.created_at.strftime("%d/%m/%Y")
        %td 
          - case p.status
            - when 1
              %span.aguardando-aprovacao Aguardando Aprovação
            - when 2
              %span.reprovado Reprovado
            - when 3
              %span.aprovado Aprovado
        %td=link_to "Detalhes", edit_proposal_path(p), :class => "btn btn-default "
