// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.aprovado
{
  color:#1FC161 !important;  /*Verde*/ 
}

.enviado
{
  color:#009CCC;   /*Azul*/
}

.entregue
{
  color:#888;  /*Cinza*/
}

.producao
{
  color:#F6C21E;  /*Laranja*/
}